{%extends 'homepage.html'%}
{%load static%}
{%block content%}
{%include 'include/header.html'%}


<div class="row justify-content-center pb-4">
  <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
  <span class="subheading">Дотопремичательности</span>
  <h2 class="mb-3">Места</h2>

  {% for place in countries.place_from_country.all %}


<div lass="bg-dark">
    <div class="container">
      <div class="inner123">
        <img class="d-block w-50" src="{{place.image.url}}" alt="First slide">
        
        <div class="polo">
          <h3><p>{{place.title}}</p></h3>
        <p>{{place.description}}</p>
        <div class="loro">
          <p><a href="{% url 'hotels' place.id %}" class="btn btn-primary py-3 px-4">Посмотреть отели </a></p>
        </div>
      </div>
        
      </div>
      
     
    </div>
  </div>

  {%endfor%}
      
     


















{%include 'include/footer.html'%}
{%endblock%}