{% extends 'homepage.html'%}
{%load static%}
{%block content%}
{%include 'include/header.html'%}


<section class="ftco-section bg-light">
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-md-8 heading-section text-center mb-5" data-aos="fade-up" data-aos-duration="1000">
                <span class="subheading">Страны</span>
                    <h2 class="mb-4"><small>Список всех стран, где вы можете забронировать у нас!</small></h2>
                </div>
            </div>
                 
            <div class="row justify-content-center">
                {% for country in countries %}
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="flip-left" data-aos-delay="100" data-aos-duration="1000">
                    <div class="room-wrap d-md-flex flex-md-column-reverse">
                        <!-- <a href="{% url 'index' %}"  class="img img-room" ></a> -->
                       <div class="img img-room" >
                        <img style="    height: 275px;
                        width: 361px;
                    " src="{{country.country_image.url}}" alt="#">
                       </div>
                        <div class="text p-5 text-center">
                        <h3><a href="{% url 'country_detail' country.id  %}">{{country.title}}</a></h3>
                        <p>{{country.description}}.</p>
                        <p class="mb-0 mt-2"><span class="me-3 price">От 0,30$<small>/ночь </small></span><a href="https://www.aviasales.kg/" class="btn-custom">Book Now</a></p>
                    </div>
                </div>
            </div>
            {%endfor%}  


{%include 'include/footer.html'%}
{%endblock%}