{% load static %}
<footer class="ftco-footer">
    <div class="container-xl">
    <div class="row mb-5 pb-5 justify-content-between">
    <div class="col-md-6 col-lg">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2 logo d-flex">
    <a class="navbar-brand align-items-center" href="{%url 'index'%}">
    <span class="">{{setting.title}} <small>Hotel Booking</small></span>
    </a>
    </h2>
    <p>{{setting.description}}.</p>
    <ul class="ftco-footer-social list-unstyled mt-2">
    <li><a href="index.html#"><span class="fa fa-twitter"></span></a></li>
    <li><a href="index.html#"><span class="fa fa-facebook"></span></a></li>
    <li><a href="index.html#"><span class="fa fa-instagram"></span></a></li>
    </ul>
    </div>
    </div>
    <div class="col-md-6 col-lg-4">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">Сервис</h2>
    </div>
    <div class="row">
    <div class="col-lg-6">
    <div class="ftco-footer-widget mb-4">
    <ul class="list-unstyled">
    <li><a href="#"><span class="fa fa-chevron-right me-2"></span>Free Wifi</a></li>
    <li><a href="#"><span class="fa fa-chevron-right me-2"></span>Easy Booking</a></li>
    <li><a href="#"><span class="fa fa-chevron-right me-2"></span>Restaurant</a></li>
    <li><a href="#"><span class="fa fa-chevron-right me-2"></span>Swimming Pool</a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="ftco-footer-widget mb-4">
    <ul class="list-unstyled">
    <li><a href="index.html#"><span class="fa fa-chevron-right me-2"></span>Beauty &amp; Health</a></li>
    <li><a href="index.html#"><span class="fa fa-chevron-right me-2"></span>60" Flatscreen TV</a></li>
    <li><a href="index.html#"><span class="fa fa-chevron-right me-2"></span>Cold Aircondition</a></li>
    <li><a href="index.html#"><span class="fa fa-chevron-right me-2"></span>Help &amp; Support</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-6 col-lg-2">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">Ссылки</h2>
    <ul class="list-unstyled">
    <li><a href="{% url 'index'%}"><span class="fa fa-chevron-right me-2"></span>Home</a></li>
    <li><a href="{% url 'about' %}"><span class="fa fa-chevron-right me-2"></span>About</a></li>
    <li><a href="index.html#"><span class="fa fa-chevron-right me-2"></span>Rooms</a></li>
    <li><a href="index.html#"><span class="fa fa-chevron-right me-2"></span>Resto &amp; Bar</a></li>
    </ul>
    </div>
    </div>
    <div class="col-md-6 col-lg">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">У вас еще остались вопросы?</h2>
    <div class="block-23 mb-3">
    <ul>
    <li><span class="icon fa fa-map marker"></span><span class="text">{{setting.title}}</span></li>
    <li><a href="tel: {{ setting.phone }}"><span class="icon fa fa-phone"></span><span class="text">{{setting.phone}}</span></a></li>
    <li><a href="index.html#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text"><span class="__cf_email__" data-cfemail="f990979f96b980968c8b9d9694989097d79a9694">{{setting.email}}</span></span></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="container-fluid px-0 py-5 bg-darken">
    <div class="container-xl">
    <div class="row">
    <div class="col-md-12 text-center">
    <p class="mb-0" style="color: rgba(255,255,255,.5); font-size: 13px;">Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" rel="nofollow noopener">Colorlib</a></p>
    </div>
    </div>
    </div>
    </div>
    </footer>