{% load static%}

<nav class="navbar navbar-expand-lg  ftco-navbar-light">
    <div class="container-xl">
        <a class="navbar-brand align-items-center" href="index.html">
            <span class="">Unwind <small>Hotel Booking</small></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>Menu</button>   
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" href="{% url 'index'%}">Домой</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about'  %}">О нас</a></li>
            <li class="nav-item"><a class="nav-link" href="rooms.html">Категории</a></li>
            <li class="nav-item"><a class="nav-link" href="resto-bar.html">Страны</a></li>
            <li class="nav-item"><a class="nav-link" href="blog.html">Отели</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.html" style="margin-right: 70px;">Связь</a></li>
            {% if user.is_authenticated%}
                
            <li class="nav-item"><a class="nav-link" href="{% url 'profile' user.id %}">{{user.username}}</a></li>

            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выйти</a></li>

            {%else%}
            <li class="nav-item"><a class="nav-link" href="{%url 'user_login'%}">Войти</a></li>
            <li class="nav-item"><a class="nav-link" href="{%url 'register'%}">Зарегистриваться</a></li>
            {%endif%}
            </ul>
        </div>
    </div>
</nav>
