{%extends 'homepage.html'%}
{%load static%}
{%block content%}
{%include 'include/header.html'%}

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'assets/images/xbg_1.jpg.pagespeed.ic.oRcg33KJB5.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
  <div class="row no-gutters slider-text align-items-center justify-content-center">
  <div class="col-md-9 pt-5 text-center">
  <p class="breadcrumbs"><span class="me-2"><a href="#">Если у вас возникли проблемы, обратитесь к нашим<i class="fa fa-chevron-right"></i></a></span> 
    </p>
  <h1 class="mb-0 bread">Администраторам!</h1>
  </div>
  </div>
  </div>
  </section>


  <div class="row justify-content-center">
    <div class="col-lg-10">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                
                <div class="col-md-6">
                    <div class="single-form">
                        <input type="email" name="email" placeholder="Почта" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-form">
                        <input type="text" name="title" placeholder="Заголовок" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-form">
                        <input type="text" name="phone" placeholder="Телефонный номер" class="form-control">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="single-form">
                        <textarea name="problem" placeholder="Напишите проблему..." class="form-control"></textarea>
                    </div>
                </div>
                <p class="form-message"></p>
                <div class="col-md-12">
                    <div class="single-form text-center">
                        <button class="btn btn-primary btn-hover-dark">Отправить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{%include 'include/footer.html'%}
{%endblock%}