{%extends 'homepage.html'%}
{%load static%}
{%block content%}

    {%include 'include/header.html'%}

    <section class="hero-wrap"  style="background-image:url({% static 'assets/images/space.jpg' %})">
        <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-lg-10 text-center">
                <span class="subheading"> Наслаждайтесь своим отдыхом с роскошным опытом!</span>
                <h1 class="mb-4"> <small>@{{user.username}}</small></h1>
                <p><a href="{% url 'profile' user.id %}" class="btn btn-primary p-4 py-3">Назад<span class="ion-ios-arrow-round-forward"></span></a> 
                <a href="index.html#" class="btn btn-white btn-outline-white p-4 py-3">Удалить <span class="ion-ios-arrow-round-forward"></span></a></p>
                    </div>
                </div>
        </div>
    </section>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="single-form">
            <label for="img">Загрузите новое фото</label>
            <input type="file" value="{{ user.profile_image}}" class="form-control" id="img" name="profile_image" accept="image/*">
            
        </div>
        <div class="single-form">
            <lмabel class="form-label">Имя</lмabel>
            <input type="text" value="{{ user.last_name }}" name = "last_name"  class="form-control">
        </div>
        <div class="single-form">
            <label class="form-label">Фамилия</label>
            <input type="text" value="{{ user.first_name}}"   name = "first_name" class="form-control">
        </div>

        <div class="single-form">
            <label class="form-label">Имя пользователя *</label>
            <input type="text" value="{{ user.username }}"   name = "username" class="form-control">
        </div>

        <div class="single-form">
            <label class="form-label">Почта</label>
            <input type="text" value="{{ user.email }}"  name = "email" class="form-control">
        </div>

        <div class="single-form">
            <label class="form-label">Телефонный номер</label>
            <input type="tel" value="{{ user.phone }}"  name = "phone" class="form-control">
        </div>
        <div class="single-form">
            <input class="btn btn-primary" type="submit" value="Опубликовать">
        </div>
    </form>


{%include 'include/footer.html'%}
{%endblock%}