{%extends 'homepage.html'%}
{%load static%}
{%block content%}
{%include 'include/header.html'%}

<div class="row justify-content-center pb-4">
    <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
    <span class="subheading">Дотопремичательности</span>
    <h2 class="mb-3"> Все Места и Направления</h2>
  
    
    
    {% for place in places %}
    {%if place.country.title == "KG"%}
    <div lass="bg-dark">
        <div class="container">
        <div class="inner123">
          <img class="d-block w-50" src="{{place.image.url}}" alt="First slide">
          
          <div class="polo">
            <h3><p>{{place.title}}</p></h3>
          <p>{{place.description}}</p></div>
        </div>

    <!-- <div class="inner123">
        <img class="d-block w-50" src="{{countries.country_image.url}}" alt="Second slide">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quae, non tempore officia maiores at debitis dolorum magnam doloribus amet, iure deserunt voluptatibus nulla est qui error repellendus quod id consectetur veniam maxime ipsam, cupiditate quis similique. Cumque at voluptas quibusdam, neque beatae reprehenderit. Unde voluptas voluptatibus dolorem sit qui.</p>
    </div>
    <div class="inner123">
        <img class="d-block w-50" src="{{countries.country_image.url}}" alt="Third slide">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quae, non tempore officia maiores at debitis dolorum magnam doloribus amet, iure deserunt voluptatibus nulla est qui error repellendus quod id consectetur veniam maxime ipsam, cupiditate quis similique. Cumque at voluptas quibusdam, neque beatae reprehenderit. Unde voluptas voluptatibus dolorem sit qui.</p>
    </div> -->
</div>
</div>
{%else%}
<div lass="bg-dark">
    <div class="container">
    <div class="inner123">
      <img class="d-block w-50" src="{{place.image.url}}" alt="First slide">
      
      <div class="polo">
        <h3><p>{{place.title}}</p></h3>
      <p>{{place.description}}</p></div>
    </div>

<!-- <div class="inner123">
    <img class="d-block w-50" src="{{countries.country_image.url}}" alt="Second slide">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quae, non tempore officia maiores at debitis dolorum magnam doloribus amet, iure deserunt voluptatibus nulla est qui error repellendus quod id consectetur veniam maxime ipsam, cupiditate quis similique. Cumque at voluptas quibusdam, neque beatae reprehenderit. Unde voluptas voluptatibus dolorem sit qui.</p>
</div>
<div class="inner123">
    <img class="d-block w-50" src="{{countries.country_image.url}}" alt="Third slide">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quae, non tempore officia maiores at debitis dolorum magnam doloribus amet, iure deserunt voluptatibus nulla est qui error repellendus quod id consectetur veniam maxime ipsam, cupiditate quis similique. Cumque at voluptas quibusdam, neque beatae reprehenderit. Unde voluptas voluptatibus dolorem sit qui.</p>
</div> -->
</div>
</div>
{%endif%}
{%endfor%}
    </div>
</div>

{%include 'include/footer.html'%}
{%endblock%}